# Python Exercise 2

## Problem 2-1: using slices

Given a list

```
aList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
``

use **slices** (that is, expressions of the form `aList[a:b]` or `aList[a:b:c]`) to create the lists below:

In [241]:
aList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [242]:
aList[3:8]==[4, 5, 6, 7, 8]

True

In [243]:
aList[0:10:3] ==[1, 4, 7, 10]

True

In [244]:
aList[-2::-2] ==[9, 7, 5, 3, 1]

True

In [245]:
aList[2:7:2]==[3, 5, 7]

True

In [246]:
aList[-2:-7:-1]==[9, 8, 7, 6, 5]

True

## Problem 2-2: strings are lists as well

We can use the `[]` operator and slices with strings as well, for example:

In [247]:
greeting = "Hello World"
print(greeting[4])
print(greeting[:5])
print(greeting[::-1])

o
Hello
dlroW olleH

Find slices of the string `greeting` above which lead the following strings:

In [248]:
'roW oll'
print(greeting[-3:-10:-1])

roW oll

In [249]:
'drWol'

'drWol'

## Problem 2-3: multi-dimensional lists

Lists can contain arbitrary objects, for example other lists:

In [250]:
multi = [" ", [["hello"], "Hallo", "Ciao", ["你好"]], ["bello", ["Herr Lehrer"], ["teacher"], "老师"]]

Using only elements of `multi` and the `+` operator make the following strings:
```
Hallo Herr Lehrer
hello teacher
你好老师
```
For example:

In [251]:
"Ciao bello" == multi[1][2] + multi[0] + multi[2][0]

True

In [252]:
"Hallo Herr Lehrer"==multi[1][1]+multi[0]+multi[2][1][0]

True

In [253]:
"hello teacher"==multi[1][0][0]+multi[0]+multi[2][2][0]

True

In [254]:
"你好老师"==multi[1][-1][0]+multi[2][-1]

True

## Problem 2-4: ranges

You can use the `range` function to generate lists of numbers.

In [255]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[Technically `range` returns a *generator*, we will discuss this topic later.] The `range` function takes 1 to 3 arguments, whose meaning is very similar to the slice notation. First use `help` to find out more about the range function and then use it to generate the following lists:
```
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[9, 6, 3]
```

In [256]:
list(range(12))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [257]:
list(range(3,10,1))

[3, 4, 5, 6, 7, 8, 9]

In [258]:
list(range(2,12,2))

[2, 4, 6, 8, 10]

In [259]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [260]:
list(range(9,0,-3))

[9, 6, 3]

## Problem 2-5: list comprehensions

Recall that **list comprehensions** are expressions of the form

In [261]:
myList = [1, 3, 4, 7]
[x + 3 for x in myList]

[4, 6, 7, 10]

Another example:

In [262]:
[x ** 2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Use list comprehensions together with `range` to form the lists below.
```
[2, 5, 10, 17, 26, 37]
[8, 64, 216, 512]
[121, 81, 49, 25, 9, 1]
```

In [263]:
[x*x+1 for x in range(7)]

[1, 2, 5, 10, 17, 26, 37]

In [264]:
[x*x*x for x in range(2,9,2)]

[8, 64, 216, 512]

In [265]:
[x*x for x in range(11,0,-2)]

[121, 81, 49, 25, 9, 1]

## Problem 2-6: methods of `list`

Use `help` to find out how to use the following methods of the `list class`. Give an example how to use each of them: 

* `count`
* `extend`
* `index`
* `insert`
* `pop`
* `remove`
* `reverse`
* `sort`

Use a new Python cell for each method. You can add new cells by choosing **Insert** from the menu.

In [266]:
help(list.count)
a=[1,2,3,4,5,6,6,6,6]
a.count(6)

Help on method_descriptor:

count(...)
    L.count(value) -> integer -- return number of occurrences of value

4

In [267]:
help(list.extend)
b=[-1,-2,-3]
a.extend(b)
a

Help on method_descriptor:

extend(...)
    L.extend(iterable) -> None -- extend list by appending elements from the iterable

[1, 2, 3, 4, 5, 6, 6, 6, 6, -1, -2, -3]

In [268]:
help(list.index)
a = [1, 1, 2, 2, 1, 1, 2, 2]
a.index(1, 2, 5)

Help on method_descriptor:

index(...)
    L.index(value, [start, [stop]]) -> integer -- return first index of value.
    Raises ValueError if the value is not present.

4

In [269]:
help(list.insert)
a.insert(9,-4)
a

Help on method_descriptor:

insert(...)
    L.insert(index, object) -- insert object before index

[1, 1, 2, 2, 1, 1, 2, 2, -4]

In [270]:
#help(list.pop)
#a.pop(4)
#a

li = list(range(2, 10))
li.pop(0)
li

[3, 4, 5, 6, 7, 8, 9]

In [271]:
#help(list.remove)
#a.remove(4)
#a

li = list(range(2, 10))
li.remove(4)
li

[2, 3, 5, 6, 7, 8, 9]

In [272]:
help(list.reverse)
a.reverse()
a

Help on method_descriptor:

reverse(...)
    L.reverse() -- reverse *IN PLACE*

[-4, 2, 2, 1, 1, 2, 2, 1, 1]

In [273]:
help(list.sort)
#a.sort(reverse=True)
a.sort()
a

Help on method_descriptor:

sort(...)
    L.sort(key=None, reverse=False) -> None -- stable sort *IN PLACE*

[-4, 1, 1, 1, 1, 2, 2, 2, 2]

## Problem 2-7: dictionaries

Make an Chinese-to-German dictionary called `e2f` and print it. Here are your starter words: `小狗` is `Hund`, `猫咪` is `Katze`, and `老师` is `Lehrer`.

In [274]:
e2f={'小狗': 'Hund','猫咪':'Katze','老师':'Lehrer'}
e2f['小狗']

'Hund'

(**Challenging**) Now make a three level dictionary `allLanguages` (a dictionaries whose values are dictionaries whose values are dictionaries). The first two keys should be languages (out of the set `Chinese` , `English`, `German`) and the last key should be a word. The value would be the word translated from the first language to the second. Examples:

```
allLanguages['Chinese']['English']['老师'] = 'teacher'
allLanguages['English']['German']['dog'] = 'Hund'
allLanguages['German']['Chinese']['Katze'] = '猫咪'
```

Only include the words 'dog', 'cat', and 'teacher' (together with their translations 😊) in the dictionary. There's no need to translate from a language to itself.

In [279]:
allLanguages={'Chinese':{'English':{'老师':'teacher','猫咪':'cat','小狗':'dog'},
                         'German':{'老师':'Lehrer','猫咪':'Katze','小狗':'Hund'}},
              'English':{'German':{'teacher':'Lehrer','cat':'Katze','dog':'Hund'},
                        'Chinese':{'teacher':'老师','cat':'猫咪','dog':'小狗'}},
              'German':{'English':{'Lehrer':'teacher','Katze':'cat','Hund':'dog'},
                       'Chinese':{'Lehrer':'老师','Katze':'猫咪','Hund':'小狗'}
                       }
             }
#allLanguages['Chinese']['English']['老师'] == 'teacher'
#allLanguages['English']['German']['dog'] == 'Hund'
allLanguages['German']['Chinese']['Katze'] == '猫咪'

True