# Python Lecture 9: dataframes and split-apply-combine, regular expressions

Split-apply-combine is an often used way to deal with data:

1. we split a dataset into one or more groups
2. we apply functions ("in parallel") to each of the groups
3. we combine the groups into one dataset

Depending on the platform/programming language/library we are using, we might use different terminology, but the way of thinking is the same.

The 'Map/Reduce' paradigm might also be seen as an application of split-apply-combine.

In **pandas**, we can use either

* `groupby`, or
* `pivot_table` 

to solve this kind of split-apply combine problems.

Let's see how this might be done in an example:

In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv('sample-sales-20.csv')
df

,account number,name,sku,category,quantity,unit price,ext price,date
0,296809,Carroll PLC,QN-82852,Belt,13,44.48,578.24,2014-09-27 07:13:03
1,98022,Heidenreich-Bosco,MJ-21460,Shoes,19,53.62,1018.78,2014-07-29 02:10:44
2,563905,"Kerluke, Reilly and Bechtelar",AS-93055,Shirt,12,24.16,289.92,2014-03-01 10:51:24
3,93356,Waters-Walker,AS-93055,Shirt,5,82.68,413.40,2013-11-17 20:41:11
4,659366,Waelchi-Fahey,AS-93055,Shirt,18,99.64,1793.52,2014-01-03 08:14:27
5,563905,"Kerluke, Reilly and Bechtelar",AS-93055,Shirt,17,52.82,897.94,2013-12-04 02:07:05
6,995267,Cole-Eichmann,GS-86623,Shoes,18,15.28,275.04,2014-04-09 16:15:03
7,524021,Hegmann and Sons,LL-46261,Shoes,7,78.78,551.46,2014-06-18 19:25:10
8,929400,"Senger, Upton and Breitenberg",LW-86841,Shoes,17,38.19,649.23,2014-02-10 05:55:56
9,563905,"Kerluke, Reilly and Bechtelar",KV-99194,Shirt,12,26.98,323.76,2014-05-20 00:21:28
10,995267,Cole-Eichmann,KV-99194,Shirt,19,60.22,1144.18,2014-03-10 06:23:31
11,524021,Hegmann and Sons,QN-82852,Belt,6,13.12,78.72,2013-11-03 18:38:16
12,758133,"Kihn, McClure and Denesik",LL-46261,Shoes,4,59.69,238.76,2014-01-11 21:48:28
13,555594,"Ernser, Cruickshank and Lind",FK-71853,Shirt,12,97.25,1167.00,2014-09-19 13:20:00
14,201259,Koelpin PLC,GS-86623,Shoes,9,81.44,732.96,2014-08-12 08:05:27
15,93356,Waters-Walker,LL-46261,Shoes,18,53.33,959.94,2014-07-15 23:21:11
16,563905,"Kerluke, Reilly and Bechtelar",KV-99194,Shirt,4,35.62,142.48,2014-10-05 23:38:16
17,201259,Koelpin PLC,KV-99194,Shirt,17,98.23,1669.91,2014-01-26 01:52:36
18,758133,"Kihn, McClure and Denesik",WJ-02096,Belt,15,69.52,1042.80,2013-11-13 21:38:46
19,296809,Carroll PLC,VG-32047,Shirt,12,80.12,961.44,2014-05-24 16:03:28
20,750461,"Volkman, Goyette and Lemke",WJ-02096,Belt,13,81.19,1055.47,2014-01-08 02:45:07
21,929400,"Senger, Upton and Breitenberg",LL-46261,Shoes,2,48.15,96.30,2014-04-28 07:01:04
22,563905,"Kerluke, Reilly and Bechtelar",MJ-21460,Shoes,1,54.94,54.94,2014-08-09 11:22:15
23,734922,Berge LLC,QN-82852,Belt,4,57.75,231.00,2013-11-04 09:48:26
24,296809,Carroll PLC,AS-93055,Shirt,14,47.68,667.52,2014-01-12 00:28:09
25,304860,Huel-Haag,QN-82852,Belt,2,41.40,82.80,2014-09-23 02:36:55
26,563905,"Kerluke, Reilly and Bechtelar",VG-32047,Shirt,6,58.52,351.12,2014-03-14 02:28:57
27,750461,"Volkman, Goyette and Lemke",LL-46261,Shoes,12,96.62,1159.44,2013-12-13 03:19:19
28,850140,Kunze Inc,KV-99194,Shirt,12,93.67,1124.04,2014-02-19 06:03:09
29,115138,Gorczany-Hahn,VG-32047,Shirt,12,72.63,871.56,2014-02-07 03:30:14
...,...,...,...,...,...,...,...,...
970,758133,"Kihn, McClure and Denesik",WJ-02096,Belt,15,51.35,770.25,2014-05-13 12:39:44
971,563905,"Kerluke, Reilly and Bechtelar",GS-86623,Shoes,16,90.96,1455.36,2013-11-02 09:19:40
972,711951,Kilback-Gerlach,LW-86841,Shoes,12,22.81,273.72,2014-09-17 02:46:57
973,93356,Waters-Walker,AS-93055,Shirt,19,28.76,546.44,2013-12-19 19:43:07
974,98022,Heidenreich-Bosco,VG-32047,Shirt,2,35.71,71.42,2014-07-03 03:16:33
975,296809,Carroll PLC,LL-46261,Shoes,9,32.75,294.75,2014-02-08 10:48:21
976,758133,"Kihn, McClure and Denesik",LW-86841,Shoes,2,92.23,184.46,2014-02-18 03:57:38
977,524021,Hegmann and Sons,MJ-21460,Shoes,12,18.24,218.88,2014-05-01 16:46:03
978,305803,"Davis, Kshlerin and Reilly",AS-93055,Shirt,6,49.81,298.86,2013-11-01 16:31:25
979,304860,Huel-Haag,QN-82852,Belt,2,22.38,44.76,2014-01-23 23:47:01
980,929400,"Senger, Upton and Breitenberg",QN-82852,Belt,10,25.65,256.50,2013-12-20 14:10:18
981,299771,"Kuphal, Zieme and Kub",QN-82852,Belt,12,37.50,450.00,2013-12-30 04:04:50
982,115138,Gorczany-Hahn,VG-32047,Shirt,20,72.35,1447.00,2014-08-11 19:02:14
983,758133,"Kihn, McClure and Denesik",LL-46261,Shoes,2,48.21,96.42,2014-09-16 16:12:02
984,711951,Kilback-Gerlach,VG-32047,Shirt,1,91.96,91.96,2013-10-23 15:08:31
985,929400,"Senger, Upton and Breitenberg",GS-86623,Shoes,7,62.27,435.89,2013-12-30 01:55:14
986,93356,Waters-Walker,KV-99194,Shirt,20,99.74,1994.80,2014-04-18 15:39:12
987,98022,Heidenreich-Bosco,QN-82852,Belt,15,82.82,1242.30,2014-03-27 04:42:40
988,734922,Berge LLC,GS-86623,Shoes,8,85.04,680.32,2014-02-26 14:43:51
989,995267,Cole-Eichmann,LW-86841,Shoes,10,73.24,732.40,2014-06-07 10:04:53
990,93356,Waters-Walker,AS-93055,Shirt,9,68.62,617.58,2014-08-12 08:06:21
991,304860,Huel-Haag,QN-82852,Belt,1,57.33,57.33,2014-08-27 11:27:28
992,850140,Kunze Inc,KV-99194,Shirt,9,27.16,244.44,2014-02-08 06:22:34
993,659366,Waelchi-Fahey,LW-86841,Shoes,10,56.56,565.60,2014-10-01 11:38:04
994,296809,Carroll PLC,WJ-02096,Belt,20,14.37,287.40,2014-07-20 17:22:03
995,758133,"Kihn, McClure and Denesik",WJ-02096,Belt,11,60.50,665.50,2014-08-03 10:39:51
996,850140,Kunze Inc,GS-86623,Shoes,16,19.66,314.56,2014-05-03 21:18:15
997,93356,Waters-Walker,GS-86623,Shoes,13,90.95,1182.35,2014-06-14 12:43:51
998,304860,Huel-Haag,LL-46261,Shoes,9,98.22,883.98,2014-07-26 01:10:57
999,98022,Heidenreich-Bosco,LW-86841,Shoes,14,74.83,1047.62,2014-06-27 05:58:33

### What questions could we ask about this data?

In [33]:
#which products is has the most customers? 
#  concretely: how many pieces have we sold?
#df[df['sku']  == 'AS-93055']
#df[df['sku']  == 'QN-82852']
df.groupby('sku').sum().sort_values('quantity', ascending=False)

          account number  quantity  unit price  ext price
sku
AS-93055        57040659      1136     6095.63   65756.89
KV-99194        56283483      1119     6107.30   65972.27
QN-82852        58925385      1113     5742.91   57577.31
MJ-21460        53872090      1052     5591.66   58781.21
GS-86623        47895378      1046     5379.88   54528.92
LL-46261        51517799      1031     5501.50   56669.23
VG-32047        52174118      1026     5780.17   58157.14
FK-71853        50698086       973     5253.47   56888.83
LW-86841        59701073       925     6095.33   56574.86
WJ-02096        47100826       907     4631.78   48937.24

In [35]:
#anothe way to answer: 
df.groupby('sku').sum().sort_values('ext price', ascending=False)

          account number  quantity  unit price  ext price
sku
KV-99194        56283483      1119     6107.30   65972.27
AS-93055        57040659      1136     6095.63   65756.89
MJ-21460        53872090      1052     5591.66   58781.21
VG-32047        52174118      1026     5780.17   58157.14
QN-82852        58925385      1113     5742.91   57577.31
FK-71853        50698086       973     5253.47   56888.83
LL-46261        51517799      1031     5501.50   56669.23
LW-86841        59701073       925     6095.33   56574.86
GS-86623        47895378      1046     5379.88   54528.92
WJ-02096        47100826       907     4631.78   48937.24

In [37]:
#Who is the 'best customer'

df.groupby('name').sum().sort_values('ext price', ascending=False)

                               account number  quantity  unit price  ext price
name
Kihn, McClure and Denesik            43971714       638     3487.45   38935.29
Waters-Walker                         4667800       578     3303.95   36778.96
Carroll PLC                          16918113       677     2947.25   35934.31
Hegmann and Sons                     30393218       606     3413.61   35213.72
Kunze Inc                            45907560       605     3025.18   34406.54
Volkman, Goyette and Lemke           36022128       538     2832.62   32006.87
Cole-Eichmann                        50758617       538     2833.00   30435.42
Berge LLC                            38215944       522     3076.92   30064.87
Senger, Upton and Breitenberg        54834600       566     3023.81   29577.46
Waelchi-Fahey                        35605764       501     3017.41   28968.68
Ernser, Cruickshank and Lind         26112918       455     2854.91   28089.02
Kerluke, Reilly and Bechtelar        29323060       556     2578.55   27389.43
Kuphal, Zieme and Kub                15588092       552     2678.55   27031.86
Kilback-Gerlach                      32037795       472     2650.98   26987.20
Koelpin PLC                          10666727       497     2687.66   26811.66
Heidenreich-Bosco                     3920880       431     2322.30   25428.29
Hamill-Hackett                       29781268       419     2582.64   23433.78
Gorczany-Hahn                         4835796       440     2225.71   22207.90
Huel-Haag                            13108980       358     2498.97   21087.88
Davis, Kshlerin and Reilly           12537923       379     2138.16   19054.76

In [40]:
kmd = df[df['name'] == 'Kihn, McClure and Denesik']
kmd.groupby('category').sum()

          account number  quantity  unit price  ext price
category
Belt             9097596       164      724.29   10116.90
Shirt           20469591       288     1653.58   18956.35
Shoes           14404527       186     1109.58    9862.04

In [44]:
df.groupby(['name', 'category']).sum()

                                        account number  quantity  unit price  \
name                          category
Berge LLC                     Belt             6614298       120      450.96
                              Shirt           14698440       166     1226.54
                              Shoes           16903206       236     1399.42
Carroll PLC                   Belt             4155326       184      733.03
                              Shirt            6529798       257     1098.93
                              Shoes            6232989       236     1115.29
Cole-Eichmann                 Belt            12938471       147      640.67
                              Shirt           20900607       236     1226.75
                              Shoes           16919539       155      965.58
Davis, Kshlerin and Reilly    Belt             1834818        33      309.37
                              Shirt            4892848       161      828.51
                              Shoes            5810257       185     1000.28
Ernser, Cruickshank and Lind  Belt             5000346        97      564.80
                              Shirt           13334256       262     1500.25
                              Shoes            7778316        96      789.86
Gorczany-Hahn                 Belt             1381656       103      580.49
                              Shirt            2417898       237     1132.22
                              Shoes            1036242       100      513.00
Hamill-Hackett                Belt             2707388        32      198.32
                              Shirt           11506399       148     1091.55
                              Shoes           15567481       239     1292.77
Hegmann and Sons              Belt             5240210        88      589.91
                              Shirt           13624546       278     1528.84
                              Shoes           11528462       240     1294.86
Heidenreich-Bosco             Belt              980220       106      601.04
                              Shirt             980220        92      582.24
                              Shoes            1960440       233     1139.02
Huel-Haag                     Belt             2743740        43      411.36
                              Shirt            5792340       200     1146.17
                              Shoes            4572900       115      941.44
Kerluke, Reilly and Bechtelar Belt             4511240        76      413.69
                              Shirt           11842005       269     1038.53
                              Shoes           12969815       211     1126.33
Kihn, McClure and Denesik     Belt             9097596       164      724.29
                              Shirt           20469591       288     1653.58
                              Shoes           14404527       186     1109.58
Kilback-Gerlach               Belt             4271706        74      265.33
                              Shirt           12103167       163     1052.53
                              Shoes           15662922       235     1333.12
Koelpin PLC                   Belt             2817626       133      551.83
                              Shirt            3018885       132      786.07
                              Shoes            4830216       232     1349.76
Kunze Inc                     Belt             5100840        74      353.19
                              Shirt           21253500       260     1439.92
                              Shoes           19553220       271     1232.07
Kuphal, Zieme and Kub         Belt             1199084        47      176.29
                              Shirt            6594962       252     1167.28
                              Shoes            7794046       253     1334.98
Senger, Upton and Breitenberg Belt            17658600       171     1033.61
                              Shirt           15799800       144      939.38
                              Shoes           21376200       251     1050.82
Volkman, Goyette and Lemke    Belt             6003688        96      398.73
                              Shirt           15009220       220     1136.25
                              Shoes           15009220       222     1297.64
Waelchi-Fahey                 Belt            11209222       149      965.71
                              Shirt           13187320       201     1057.67
                              Shoes           11209222       151      994.03
Waters-Walker                 Belt              560136        83      412.07
                              Shirt            2240544       288     1603.36
                              Shoes            1867120       207     1288.52

                                        ext price
name                          category
Berge LLC                     Belt        6033.53
                              Shirt       9670.24
                              Shoes      14361.10
Carroll PLC                   Belt        9359.26
                              Shirt      13717.61
                              Shoes      12857.44
Cole-Eichmann                 Belt        8112.70
                              Shirt      14528.01
                              Shoes       7794.71
Davis, Kshlerin and Reilly    Belt        1604.13
                              Shirt       7533.03
                              Shoes       9917.60
Ernser, Cruickshank and Lind  Belt        5894.38
                              Shirt      16944.19
                              Shoes       5250.45
Gorczany-Hahn                 Belt        3642.48
                              Shirt      12576.83
                              Shoes       5988.59
Hamill-Hackett                Belt        1609.74
                              Shirt       8880.04
                              Shoes      12944.00
Hegmann and Sons              Belt        4909.38
                              Shirt      16774.47
                              Shoes      13529.87
Heidenreich-Bosco             Belt        6262.94
                              Shirt       5965.25
                              Shoes      13200.10
Huel-Haag                     Belt        2219.51
                              Shirt      11944.01
                              Shoes       6924.36
Kerluke, Reilly and Bechtelar Belt        4102.11
                              Shirt      12958.23
                              Shoes      10329.09
Kihn, McClure and Denesik     Belt       10116.90
                              Shirt      18956.35
                              Shoes       9862.04
Kilback-Gerlach               Belt        2863.40
                              Shirt       9904.85
                              Shoes      14218.95
Koelpin PLC                   Belt        5327.96
                              Shirt       7908.28
                              Shoes      13575.42
Kunze Inc                     Belt        4264.59
                              Shirt      15638.87
                              Shoes      14503.08
Kuphal, Zieme and Kub         Belt        2009.69
                              Shirt      12101.14
                              Shoes      12921.03
Senger, Upton and Breitenberg Belt        9509.88
                              Shirt       7659.70
                              Shoes      12407.88
Volkman, Goyette and Lemke    Belt        4429.01
                              Shirt      12791.27
                              Shoes      14786.59
Waelchi-Fahey                 Belt        8285.72
                              Shirt      11689.05
                              Shoes       8993.91
Waters-Walker                 Belt        5957.24
                              Shirt      18633.71
                              Shoes      12188.01

In [49]:
df.groupby(['name', 'category']).sum()[  ['quantity', 'ext price']   ].unstack()

                              quantity             ext price            \
category                          Belt Shirt Shoes      Belt     Shirt
name
Berge LLC                          120   166   236   6033.53   9670.24
Carroll PLC                        184   257   236   9359.26  13717.61
Cole-Eichmann                      147   236   155   8112.70  14528.01
Davis, Kshlerin and Reilly          33   161   185   1604.13   7533.03
Ernser, Cruickshank and Lind        97   262    96   5894.38  16944.19
Gorczany-Hahn                      103   237   100   3642.48  12576.83
Hamill-Hackett                      32   148   239   1609.74   8880.04
Hegmann and Sons                    88   278   240   4909.38  16774.47
Heidenreich-Bosco                  106    92   233   6262.94   5965.25
Huel-Haag                           43   200   115   2219.51  11944.01
Kerluke, Reilly and Bechtelar       76   269   211   4102.11  12958.23
Kihn, McClure and Denesik          164   288   186  10116.90  18956.35
Kilback-Gerlach                     74   163   235   2863.40   9904.85
Koelpin PLC                        133   132   232   5327.96   7908.28
Kunze Inc                           74   260   271   4264.59  15638.87
Kuphal, Zieme and Kub               47   252   253   2009.69  12101.14
Senger, Upton and Breitenberg      171   144   251   9509.88   7659.70
Volkman, Goyette and Lemke          96   220   222   4429.01  12791.27
Waelchi-Fahey                      149   201   151   8285.72  11689.05
Waters-Walker                       83   288   207   5957.24  18633.71


category                          Shoes
name
Berge LLC                      14361.10
Carroll PLC                    12857.44
Cole-Eichmann                   7794.71
Davis, Kshlerin and Reilly      9917.60
Ernser, Cruickshank and Lind    5250.45
Gorczany-Hahn                   5988.59
Hamill-Hackett                 12944.00
Hegmann and Sons               13529.87
Heidenreich-Bosco              13200.10
Huel-Haag                       6924.36
Kerluke, Reilly and Bechtelar  10329.09
Kihn, McClure and Denesik       9862.04
Kilback-Gerlach                14218.95
Koelpin PLC                    13575.42
Kunze Inc                      14503.08
Kuphal, Zieme and Kub          12921.03
Senger, Upton and Breitenberg  12407.88
Volkman, Goyette and Lemke     14786.59
Waelchi-Fahey                   8993.91
Waters-Walker                  12188.01

In [55]:
#new question: which brand is sold the most?
#   brand = first two letters of SKU
#      we need to put those into a new column

def get_first_two_letters(sku):
    return sku[:2]

#df['brand'] = df['sku'].apply(get_first_two_letters)
#df

#or just use a lambda:

df['brand'] = df['sku'].apply(lambda s: s[:2])

df.groupby('brand').sum().sort_values('ext price', ascending=False)

       account number  quantity  unit price  ext price
brand
KV           56283483      1119     6107.30   65972.27
AS           57040659      1136     6095.63   65756.89
MJ           53872090      1052     5591.66   58781.21
VG           52174118      1026     5780.17   58157.14
QN           58925385      1113     5742.91   57577.31
FK           50698086       973     5253.47   56888.83
LL           51517799      1031     5501.50   56669.23
LW           59701073       925     6095.33   56574.86
GS           47895378      1046     5379.88   54528.92
WJ           47100826       907     4631.78   48937.24

In [58]:
#which customer buys which brand:
df.groupby(['name', 'brand']).sum()['ext price'].unstack()

brand,AS,FK,GS,KV,LL,LW,MJ,QN,VG,WJ
name,,,,,,,,,,
Berge LLC,2994.95,2205.93,1967.75,1973.93,2505.84,1778.30,8109.21,3737.73,2495.43,2295.80
Carroll PLC,4491.04,310.06,2501.28,1692.30,4887.11,1218.21,4250.84,1333.80,7224.21,8025.46
Cole-Eichmann,4257.94,2937.22,1656.65,5490.57,3313.13,1792.47,1032.46,6301.71,1842.28,1810.99
"Davis, Kshlerin and Reilly",2369.01,1115.80,2664.50,2546.21,4527.30,1363.64,1362.16,1160.57,1502.01,443.56
"Ernser, Cruickshank and Lind",2304.33,1559.40,117.22,7969.18,1548.56,1485.36,2099.31,4007.49,5111.28,1886.89
Gorczany-Hahn,2389.12,4665.77,606.08,3018.34,1430.75,605.68,3346.08,1546.21,2503.60,2096.27
Hamill-Hackett,3452.66,2764.63,3638.28,1174.27,3846.51,4273.35,1185.86,1277.16,1488.48,332.58
Hegmann and Sons,6275.38,5607.93,1113.88,2267.12,1624.43,5525.83,5265.73,2634.73,2624.04,2274.65
Heidenreich-Bosco,1131.59,1784.16,5912.27,521.96,2789.58,2711.27,1786.98,4132.80,2527.54,2130.14
Huel-Haag,3115.55,3650.04,3140.60,2649.21,1170.81,875.70,1737.25,737.49,2529.21,1482.02
"Kerluke, Reilly and Bechtelar",2461.82,2594.74,4078.07,3354.82,1827.09,3318.24,1105.69,2679.31,4546.85,1422.80
"Kihn, McClure and Denesik",4277.64,3996.35,4905.69,4738.55,335.18,4621.17,NaN,4342.57,5943.81,5774.33
Kilback-Gerlach,3848.59,1014.09,1088.49,4399.81,2172.35,7709.17,3248.94,2477.23,642.36,386.17
Koelpin PLC,488.36,1215.68,2708.63,3814.21,2965.37,2796.81,5104.61,3124.94,2390.03,2203.02
Kunze Inc,5333.83,2967.10,2012.12,4645.76,1444.39,6415.05,4631.52,2646.02,2692.18,1618.57
"Kuphal, Zieme and Kub",1689.11,2802.37,4222.01,5050.10,3781.69,2332.91,2584.42,2009.69,2559.56,NaN
"Senger, Upton and Breitenberg",1262.93,2153.17,1994.41,2210.85,2685.60,2344.59,5383.28,5199.91,2032.75,4309.97
"Volkman, Goyette and Lemke",5627.99,6568.68,2752.92,348.42,6799.60,2860.69,2373.38,799.41,246.18,3629.60
Waelchi-Fahey,1852.50,5347.44,1886.23,1249.66,2156.14,2280.98,2670.56,2719.10,3239.45,5566.62
Waters-Walker,6132.55,1628.27,5561.84,6857.00,4857.80,265.44,1502.93,4709.44,4015.89,1247.80

In [62]:
#which months do we sell how many shoes/belts/shirts

df['month'] = df['date'].apply(lambda s: s[5:7])
df.groupby(['month', 'category']).sum()['quantity'].unstack()

category  Belt  Shirt  Shoes
month
01         187    441    344
02         215    368    339
03         134    408    328
04         157    220    273
05         213    380    315
06         133    294    217
07         159    235    339
08         118    387    372
09         192    485    356
10         133    304    419
11         199    300    278
12         180    432    474

## Regular expressions

See pdf!

In [64]:
import re
#check whether a string contains a digit:
re.search("[0-9]", "abc")

In [65]:
re.search("[0-9]", "acd4c")

In [66]:
re.search("[0-9]", "acd66c")

In [67]:
re.search("5", "acd643215c")

In [68]:
#years look like YYYY, Y is a digit
year = "[0-9]{4}"
re.search(year, "Christoph was born in 1977")

In [70]:
re.findall(year, "Christoph was born in 1977, some else was born in 1997, 2001, 9999, 12000")

['1977', '1997', '2001', '9999', '1200']

In [71]:
year = "[12][0-9]{3}"
re.findall(year, "Christoph was born in 1977, some else was born in 1997, 2001, 9999, 12000")

['1977', '1997', '2001', '1200']

In [73]:
year = "((19|20)[0-9]{2})"
re.findall(year, "Christoph was born in 1977, some else was born in 1997, 2001, 9999, 12000")

[('1977', '19'), ('1997', '19'), ('2001', '20'), ('2000', '20')]

In [78]:
date = "([0-9]{4})-([0-9]{2})-([0-9]{2})"
match = re.search(date, "today is 2017-49-17")

In [80]:
print(match.group(0))
print(match.group(1))
print(match.group(2))
print(match.group(3))

2017-49-17
2017
49
17

In [8]:
report = df.pivot_table(values=['quantity'],
                           index=['name'],
                           columns=['category'], 
                           aggfunc=np.sum)
report.head(n=10)

                             quantity
category                         Belt Shirt Shoes
name
Berge LLC                         120   166   236
Carroll PLC                       184   257   236
Cole-Eichmann                     147   236   155
Davis, Kshlerin and Reilly         33   161   185
Ernser, Cruickshank and Lind       97   262    96
Gorczany-Hahn                     103   237   100
Hamill-Hackett                     32   148   239
Hegmann and Sons                   88   278   240
Heidenreich-Bosco                 106    92   233
Huel-Haag                          43   200   115

In [7]:
report = df.pivot_table(values=['ext price','quantity'],
                           index=['name'],
                           columns=['category'], 
                           fill_value=0,
                           aggfunc=np.sum)
report.head(n=10)

                             ext price                     quantity        \
category                          Belt     Shirt     Shoes     Belt Shirt
name
Berge LLC                      6033.53   9670.24  14361.10      120   166
Carroll PLC                    9359.26  13717.61  12857.44      184   257
Cole-Eichmann                  8112.70  14528.01   7794.71      147   236
Davis, Kshlerin and Reilly     1604.13   7533.03   9917.60       33   161
Ernser, Cruickshank and Lind   5894.38  16944.19   5250.45       97   262
Gorczany-Hahn                  3642.48  12576.83   5988.59      103   237
Hamill-Hackett                 1609.74   8880.04  12944.00       32   148
Hegmann and Sons               4909.38  16774.47  13529.87       88   278
Heidenreich-Bosco              6262.94   5965.25  13200.10      106    92
Huel-Haag                      2219.51  11944.01   6924.36       43   200


category                     Shoes
name
Berge LLC                      236
Carroll PLC                    236
Cole-Eichmann                  155
Davis, Kshlerin and Reilly     185
Ernser, Cruickshank and Lind    96
Gorczany-Hahn                  100
Hamill-Hackett                 239
Hegmann and Sons               240
Heidenreich-Bosco              233
Huel-Haag                      115